{# src/DnDRules/LanguageBundle/Resources/views/Language/layoutAdmin.html.twig #}
 
{% if is_granted('ROLE_ADMIN') %}{% set extends = "::admin.html.twig" %}
{% else %}{% set extends = "::public.html.twig" %}{% endif %}
{% extends extends %}

{% block title %}
    Langues - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    {% if app.request.get('_route') == 'dndrules_language_language_home' %}
        <li class="active">Langues</li>
    {% else %}
        <li><a href="{{ path('dndrules_language_language_home') }}">Langues</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    {% block PM_body %}
    {% endblock %}
{% endblock %}
