# -- Monstres -- #
dndrules_monster_monster_home:
    path:     /monstres
    defaults: { _controller: DnDRulesMonsterBundle:Monster:index }
    
dndrules_monster_monster_view:
    path:     /monstres/vue/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:Monster:view }
    requirements:
        slug:  \S{0,255}
    
dndrules_monster_monster_edit:
    path:     /monstres/editer/{id}
    defaults: { _controller: DnDRulesMonsterBundle:Monster:edit, id: null }

dndrules_monster_monster_edit_fight:
    path:     /monstres/editer-combat/{id}
    defaults: { _controller: DnDRulesMonsterBundle:Monster:editFight }
    requirements:
        id:  \d+

dndrules_monster_monster_edit_ability:
    path:     /monstres/editer-caractéristiques/{id}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterAbility:edit }
    requirements:
        id:  \d+

dndrules_monster_monster_delete_ability:
    path:     /monstres/supprimer-caractéristique/{id}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterAbility:deleteAbilityInstance }
    requirements:
        id:  \d+

dndrules_monster_monster_edit_skill:
    path:     /monstres/editer-compétences/{id}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterSkill:edit }
    requirements:
        id:  \d+

dndrules_monster_monster_delete_skill:
    path:     /monstres/supprimer-compétence/{id}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterSkill:deleteSkillInstance }
    requirements:
        id:  \d+

dndrules_monster_monster_edit_st:
    path:     /monstres/editer-jets-de-sauvegarde/{id}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterST:edit }
    requirements:
        id:  \d+

dndrules_monster_monster_edit_attack:
    path:     /monstres/editer-attaques/{id}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterAttack:edit }
    requirements:
        id:  \d+

dndrules_monster_monster_delete_attack:
    path:     /monstres/supprimer-attaque/{id_monster}/{id_attack}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterAttack:deleteAttackInstance }
    requirements:
        id_attack:  \d+
        id_monster:  \d+

dndrules_monster_monster_delete_attack_damageform:
    path:     /monstres/supprimer-attaque-dommages/{id_attackInstance}/{id_damageForm}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterAttack:deleteAttackInstanceDamageForm }
    requirements:
        id_attackInstance:  \d+
        id_damageForm:  \d+

dndrules_monster_monster_delete_attack_critic:
    path:     /monstres/supprimer-attaque-critique/{id_attackInstance}/{id_critic}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterAttack:deleteAttackInstanceCritic }
    requirements:
        id_attackInstance:  \d+
        id_critic:  \d+

dndrules_monster_monster_edit_attack_extreme:
    path:     /monstres/modifier-attaque-extreme-description/{id}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterAttack:editExtreme }
    requirements:
        id:  \d+
    
dndrules_monster_monster_delete:
    path:     /monstres/supprimer/{id}
    defaults: { _controller: DnDRulesMonsterBundle:Monster:delete }
    requirements:
        id:  \d+
        
# -- Environnement -- #
dndrules_monster_environment_home:
    path:     /environnements
    defaults: { _controller: DnDRulesMonsterBundle:Environment:index }

dndrules_monster_environment_insert:
    path:     /environnements/insertion
    defaults: { _controller: DnDRulesMonsterBundle:Environment:register }
    
dndrules_monster_environment_view:
    path:     /environnements/vue/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:Environment:view }
    requirements:
        slug:  \S{0,255}
    
dndrules_monster_environment_edit:
    path:     /environnements/editer/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:Environment:edit }
    requirements:
        slug:  \S{0,255}
    
dndrules_monster_environment_delete:
    path:     /environnements/supprimer/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:Environment:delete }
    requirements:
        slug:  \S{0,255}
        
# -- MonsterType -- #
dndrules_monster_monstertype_home:
    path:     /monstre-types
    defaults: { _controller: DnDRulesMonsterBundle:MonsterType:index }

dndrules_monster_monstertype_insert:
    path:     /monstre-types/insertion
    defaults: { _controller: DnDRulesMonsterBundle:MonsterType:register }
    
dndrules_monster_monstertype_view:
    path:     /monstre-types/vue/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterType:view }
    requirements:
        slug:  \S{0,255}
    
dndrules_monster_monstertype_edit:
    path:     /monstre-types/editer/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterType:edit }
    requirements:
        slug:  \S{0,255}
    
dndrules_monster_monstertype_delete:
    path:     /monstre-types/supprimer/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterType:delete }
    requirements:
        slug:  \S{0,255}
        
# -- MonsterSubType -- #
dndrules_monster_monstersubtype_home:
    path:     /monstre-sous-types
    defaults: { _controller: DnDRulesMonsterBundle:MonsterSubType:index }

dndrules_monster_monstersubtype_insert:
    path:     /monstre-sous-types/insertion
    defaults: { _controller: DnDRulesMonsterBundle:MonsterSubType:register }
    
dndrules_monster_monstersubtype_view:
    path:     /monstre-sous-types/vue/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterSubType:view }
    requirements:
        slug:  \S{0,255}
    
dndrules_monster_monstersubtype_edit:
    path:     /monstre-sous-types/editer/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterSubType:edit }
    requirements:
        slug:  \S{0,255}
    
dndrules_monster_monstersubtype_delete:
    path:     /monstre-sous-types/supprimer/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:MonsterSubType:delete }
    requirements:
        slug:  \S{0,255}
        
# -- Déplacement en milieu spécial -- #
dndrules_monster_speedspecial_home:
    path:     /deplacements
    defaults: { _controller: DnDRulesMonsterBundle:SpeedSpecial:index }

dndrules_monster_speedspecial_insert:
    path:     /deplacements/insertion
    defaults: { _controller: DnDRulesMonsterBundle:SpeedSpecial:register }
    
dndrules_monster_speedspecial_view:
    path:     /deplacements/vue/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:SpeedSpecial:view }
    requirements:
        slug:  \S{0,255}
    
dndrules_monster_speedspecial_edit:
    path:     /deplacements/editer/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:SpeedSpecial:edit }
    requirements:
        slug:  \S{0,255}
    
dndrules_monster_speedspecial_delete:
    path:     /deplacements/supprimer/{slug}
    defaults: { _controller: DnDRulesMonsterBundle:SpeedSpecial:delete }
    requirements:
        slug:  \S{0,255}