{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/view_gifts.html.twig #}
<div class="well">
    {{ render(controller('DnDInstanceWeaponBundle:Weapon:instanceForCharacter', {'id': characterUsed.id})) }}
</div>