{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/view_gifts.html.twig #}
<div class="list-group">
{% for armorInstance in characterUsed.armors %}
    <div class="list-group-item">
        <a href="{{path('dndrules_armor_armor_view', {'slug': armorInstance.armor.slug})}}" target="_blank">{{armorInstance.armor.name}}</a>
    </div>
{% else %}
    <div class="list-group-item list-group-item-warning">Aucune armure pour le moment.</div>
{% endfor %}
</div>