{# src/Game/GameBundle/Resources/views/Game/view/view_players.html.twig #}
<div>
    <div class="row">
        <div class="col-sm-12">
            {{ render(controller('DnDInstanceMonsterBundle:Monster:instance', {'id': game.id})) }}
            <hr />
            {{ render(controller('DnDInstanceMonsterBundle:Monster:listForGame', {'id': game.id})) }}
        </div>
    </div>
</div>