<div class="panel-body list-group">
    <dl class="list-group-item dl-horizontal">
        <dt>Conditions d'acquisition</dt>
        <dd>{{ gift.conditions|raw }}</dd>
    </dl>
    <dl class="list-group-item dl-horizontal">
        <dt>Avantages du don</dt>
        <dd>{{ gift.avantage|raw }}</dd>
    </dl>
    <dl class="list-group-item dl-horizontal">
        <dt>Normal</dt>
        <dd>{{ gift.normal|raw }}</dd>
    </dl>
    <dl class="list-group-item dl-horizontal">
        <dt>Spécial</dt>
        <dd>{{ gift.special|raw }}</dd>
    </dl>
</div>