{% if is_granted('ROLE_ADMIN') %}{% set extends = "::admin.html.twig" %}
{% else %}{% set extends = "::public.html.twig" %}{% endif %}
{% extends extends %}


{% block title %}
    Instance de Monstre - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    {% if app.request.get('_route') == 'dndinstance_monster_monster_home' %}
        <li class="active">Monstres</li>
    {% else %}
        <li><a href="{{path('dndinstance_monster_monster_home')}}">Monstres</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    {% block PM_body %}
    {% endblock %}
{% endblock %}
