{# src/DnDRules/HomeBundle/Resources/views/Size/layoutAdmin.html.twig #}
 
{% if is_granted('ROLE_ADMIN') %}{% set extends = "::admin.html.twig" %}
{% else %}{% set extends = "::public.html.twig" %}{% endif %}
{% extends extends %}

{% block title %}
    Tailles - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    {% if app.request.get('_route') == 'dndrules_size_size_home' %}
        <li class="active">Tailles</li>
    {% else %}
        <li><a href="{{ path('dndrules_size_size_home') }}">Tailles</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    {% block PM_body %}
    {% endblock %}
{% endblock %}
