<div class="modal fade" id="newLevelModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="z-index:10000 !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="labelNewLevelModal">Vous êtes niveau {{ dndinstance_character_characterusedclassdnd.getMainLevel(characterUsed) }} !</h2>
            </div>
            <div class="modal-body">
                <p class="lead text-center">Quelle épopée ! Vous venez de franchir un niveau.</p>

                <h3>Liste de tâches :</h3>
                <ul>
                    {% if dndinstance_character_characterusedclassdnd.getMainLevelInstance(characterUsed).abilityUp == true %}
                        <li><a href="{{ path('dndinstance_characterused_characterused_edit_abilities', {'slug': characterUsed.slug}) }}">Ajouter 1 point à une de vos caractéristiques</a></li>
                    {% endif %}
                    <li>
                        <a href="{{ path('dndinstance_characterused_characterused_edit_skills', {'slug': characterUsed.slug}) }}" target="_blank">Ajouter {{ dndinstance_character_characterusedclassdnd.getMainClassDnD(characterUsed).pointsSkillByLevel + dndinstance_character_characterusedability.getIntelligenceModifier(characterUsed) }} points à vos compétences</a>
                    </li>
                    {% if dndinstance_character_characterusedclassdnd.getMainLevelInstance(characterUsed).gift == true %}
                        <li>Ajouter 1 don à votre liste</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>