<div class="modal fade" id="newLevelModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="z-index:10000 !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="labelNewLevelModal">Vous êtes niveau {{ dndinstance_character_characterusedclassdnd.getMainLevel(characterUsed) }} !</h2>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Quelle épopée ! Vous venez de franchir un niveau.</h3>
                <hr />
                <p class="lead text-center">Votre personnage a bien été mis à jour. Vous pouvez continuer à jouer <i class="fa fa-smile-o"></i></p>
            </div>
        </div>
    </div>
</div>