{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/view_gifts.html.twig #}
<table class="table table-bordered">
    <caption>Dons :</caption>
    <tr>
        <th>#</th>
        <th>Don</th>
    </tr>
    {% for gift in characterUsed.gifts %}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="{{path('dndrules_gift_administration_view', {'slug': gift.slug})}}" target="_blank">{{gift.name}}</a></td>
        </tr>
    {% endfor %}
</table>