{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/view_gifts.html.twig #}
<div class="row">
    <div class="col-md-6">
        {% include 'DnDInstanceCharacterBundle:CharacterUsed:view/magic/view_magic_sort_view.html.twig' %}
    </div>
    <div class="col-md-6">
        {% if allowEdit == true and profile == 'full' %}
            {% include 'DnDInstanceCharacterBundle:CharacterUsed:view/magic/view_magic_sort_add.html.twig' %}
        {% endif %}
        {% include 'DnDInstanceCharacterBundle:CharacterUsed:view/magic/view_magic_sort_avaliable_list.html.twig' %}
    </div>
</div>