{# src/DnDRules/HomeBundle/Resources/views/Level/layoutAdmin.html.twig #}
 
{% if is_granted('ROLE_ADMIN') %}{% set extends = "::admin.html.twig" %}
{% else %}{% set extends = "::public.html.twig" %}{% endif %}
{% extends extends %}

{% block title %}
    Niveaux - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    {% if app.request.get('_route') == 'dndrules_level_level_home' %}
        <li class="active">Niveaux</li>
    {% else %}
        <li><a href="{{ path('dndrules_level_level_home') }}">Niveaux</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    {% block PM_body %}
    {% endblock %}
{% endblock %}
