{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/view_gifts.html.twig #}
<h4>Mes sorts :</h4>
<div class="list-group">
{% for sortInstance in characterUsed.sorts %}
    <div class="list-group-item">
        <a href="{{path('dndrules_sort_sort_view', {'slug': sortInstance.sort.slug})}}" target="_blank">{{sortInstance.sort.name}}</a>
    </div>
{% else %}
    <div class="list-group-item list-group-item-warning">Aucun sort pour le moment.</div>
{% endfor %}
</div>