{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/view_gifts.html.twig #}
<div class="well">
    <h4>Nouveau sort :</h4>
    {{ render(controller('DnDInstanceSortBundle:Sort:generateInstance', {'id': characterUsed.id})) }}
</div>