{# src/PM/HomeBundle/Resources/views/Home/index.html.twig #}
 
{% extends "::public.html.twig" %}
 
{% block title %}
    Accueil - {{ parent() }}
{% endblock %} 

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% set allowBreadcrumb = false %}

{% block h1 %}
    Bienvenue sur {{project_name}}
{% endblock %}
    
{% block h1_extend %}
{% endblock %}

{% block PM_body %}
<div class="row">
    <section class="col-md-6">
        {% include "PMHomeBundle:Home:Index/listCharacterUsed.html.twig" %}
    </section>
    <section class="col-md-6">
        {% include "PMHomeBundle:Home:Index/listGames.html.twig" %}
    </section>
</div>
{% endblock %}
    
{% block javascripts_block %}
{% endblock %}