{# src/DnDRules/MonsterBundle/Resources/views/MonsterSubType/layoutAdmin.html.twig #}
 
{% if is_granted('ROLE_ADMIN') %}{% set extends = "::admin.html.twig" %}
{% else %}{% set extends = "::public.html.twig" %}{% endif %}
{% extends extends %}

{% block title %}
    Sous-Types - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('dndrules_monster_monstersubtype_home') }}">Sous-Types</a></li>
{% endblock %}

{% block body %}
    {% block PM_body %}
    {% endblock %}
{% endblock %}
