{# src/DnDRules/SortBundle/Resources/views/Domain/layoutAdmin.html.twig #}
 
{% if is_granted('ROLE_ADMIN') %}{% set extends = "::admin.html.twig" %}
{% else %}{% set extends = "::public.html.twig" %}{% endif %}
{% extends extends %}

{% block title %}
    Domains - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    {% if app.request.get('_route') == 'dndrules_sort_domain_home' %}
        <li class="active">Domaines</li>
    {% else %}
        <li><a href="{{ path('dndrules_sort_domain_home') }}">Domaines</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    {% block PM_body %}
    {% endblock %}
{% endblock %}
