# -- CharacterUsed -- #
dndinstance_characterused_characterused_home:
    path:     /personnages
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterUsed:index }

dndinstance_characterused_characterused_insert:
    path:     /personnage/insertion
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterUsed:register }

dndinstance_characterused_characterused_edit_abilities:
    path:     /personnage/edition/caracteristiques/{id}/{context}
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterAbility:editAbilities, context: edit }
    requirements:
        id:  \d+
        context: register|edit

dndinstance_characterused_characterused_edit_skills:
    path:     /personnage/edition/competences/{id}/{context}
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterSkill:editSkills, context: edit }
    requirements:
        id:  \d+
        context: register|edit

dndinstance_characterused_characterused_edit_gift:
    path:     /personnage/edition/dons/{id}/{context}
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterGift:editGifts, context: edit }
    requirements:
        id:  \d+
        context: register|edit

dndinstance_characterused_characterused_edit_hpcurrent:
    path:     /personnage/edition/point-de-vie/{id}
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterHp:editHpCurrent }
    requirements:
        id:  \d+

dndinstance_characterused_characterused_edit_hpmax:
    path:     /personnage/edition/point-de-vie-max/{id}/{context}
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterHp:editHpMax, context: edit }
    requirements:
        id:  \d+
        context: register|edit|levelUp
    
dndinstance_characterused_characterused_view:
    path:     /personnage/vue/{slug}
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterUsed:view, context: block, profile: full, newLevel: false }
    requirements:
        slug:  \S{0,255}
        context: inline|block
        profile: full|short
        newLevel: 1|0
    
dndinstance_characterused_characterused_edit:
    path:     /personnage/editer/{id}
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterUsed:edit }
    requirements:
        id:  \d+
    
dndinstance_characterused_characterused_delete:
    path:     /personnage/supprimer/{id}
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterUsed:delete }
    requirements:
        id:  \d+

dndinstance_characterused_characterused_clone:
    path:     /personnage/clone/{id}
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterUsed:clone }
    requirements:
        id:  \d+

dndinstance_characterused_characterused_edit_xppoints:
    path:     /personnage/edition/points-experience/{id}
    defaults: { _controller: DnDInstanceCharacterBundle:XpPoints:editXpPoints }
    requirements:
        id:  \d+

dndinstance_characterused_characterused_edit_wealth:
    path:     /personnage/edition/richesse/{id}/{context}
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterWealth:editWealth, context: edit }
    requirements:
        id:  \d+
        context: register|edit

dndinstance_characterused_characterused_edit_upgradelevel:
    path:     /personnage/edition/upgrade-niveau/{id}
    defaults: { _controller: DnDInstanceCharacterBundle:CharacterUsed:upgradeLevel }
    requirements:
        id:  \d+