{% extends "::signin.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Mot de passe oublié - {{ parent() }}{% endblock %}

{% block content %}
    {% block fos_user_content %}
        <div class="form-signin">
            <div>
                <h2 class="form-signin-heading">Mot de passe oublié ?</h2>
            </div>
            <br />
            <p class="alert alert-warning">Oups ... Il semblerait que le mail de réinitialisation vous ait déjà été envoyé.</p>
            <br />
            <p class="text-center"><a href="{{ path('pm_home_home_index') }}">Retour</a></p>
        </div>
    {% endblock %}
{% endblock %}